<h2>Directory</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @directory.name %>
  </li>

  <li>
    <strong>Word count:</strong>
    <%= @directory.word_count %>
  </li>

  <li>
    <strong>File count:</strong>
    <%= @directory.file_count %>
  </li>

</ul>

<span>
  <%= link "Back", to: Routes.directory_path(@conn, :index) %>
</span>
